button {
    margin-top: 1rem;
    padding: 10px 15px;
    cursor: pointer;
}

h1 {
    margin-bottom: 0;
}

.main-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.converter-box {
    border: 1px black solid;
    padding: 10px 15px;
}

select,
input {
    display: block;
}

.converter-link li {
    list-style: none;
}

.converter-link a {
    text-decoration: none;
    color: black;
}

.converter-link ul {
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 15px;
    margin: 20px 5px;
}

.converter-link {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.converter-content input,
.converter-content select {
    margin-bottom: 0.5rem;
}